*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgba(128, 255, 0, 0.864);
    background-color: rgb(159, 153, 145);
    font-weight: 800;
    width: 500px;
    height: 45px;
    text-align: center;
    padding: 5px;
    margin-left: 250px;
    border-radius: 52px 9px;
}
p{
    font-size: 1.3rem;
    font-weight: 500;
}
.JavaScript{
    border: 1.5px solid black;
    height: 290px;
    width: 550px;
    font-size: 1.2rem;
    background-color: rgba(247, 240, 231, 0.885);
    font-weight: 200;
    color: green;
    margin-left: 250px;
    text-align: center;
    border-radius: 75px 8px 80px;
    padding: 8px;

}
.JavaScript h1{
    font-weight: 450;
    margin-left: 28px;
    color: brown;
    background-color: rgb(252, 252, 156);
    border-radius: 8px 45px;
    border: 1px solid rgb(255, 212, 71);
}
#react{
    border: 1.8px solid orange;
    height: 290px;
    width: 550px;
    font-size: 1.2rem;
    background-color: rgb(240, 234, 234);
    font-weight: 200;
    color: rgb(248, 3, 199);
    margin-left: 250px;
    text-align: center;
    border-radius: 85px 8px;
    padding: 8px;
    margin-top: 25px;
}
#react h1{
    font-weight: 450;
    margin-left: 28px;
    color: rgb(247, 124, 0);
    background-color: rgba(190, 217, 133, 0.624);
    border-radius: 8px 45px;
    border: 1px solid rgb(227, 129, 111);
}
.inputs{
    height: 400px;
    width: 400px;
    border: 1.5px solid black;
    margin-top: 16px;
    text-align: center;
    margin-left: 250px;
    border-radius: 14px;
    margin-bottom: 45px;
}
input{
    height: 35px;
    width: 290px;
    background-color: rgba(216, 235, 235, 0.684);
    margin-top: 10px;
    border: 1.5px solid black;
    border-radius: 8px;
    font-size: 1.1rem;
}
.inputs h1 {
    margin: 20px 0px;
}
.baton{
    /* height: 34px; */
    width: 300px;
    background-color: rgba(41, 41, 238, 0.781);
    font-size: 1.5rem;
    margin-top: 10px;
    border: 1.4px solid black;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 10px;
}
hr{
    margin: 15px 30px;
}
.hasan{
    border: 1.4px solid rgb(31, 30, 30);
    /* height: 35px; */
    width: 237px;
    margin-left: 80px;
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(0, 128, 0, 0.853);
    font-weight: 400;
}